<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="margin-left: 20px"><%=shop.name%></a>
            <li class="nav-item active" style="list-style: none;">
            <a class="nav-link" href="/api/shop">Show Items <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="list-style: none;">
                <a class="nav-link" href="/api/shop/order">Show Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="list-style: none;">
                <form action="/api/shop/logout" method="POST" class="validated-form" novalidate>
                    <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Log Out</button>
                </form>
            </li>
        </nav> 
    
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Add Product</h5>
                        <form action="/api/shop/addproduct" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Item Name</label>
                                <input class="form-control" type="text" name="item" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
    
                            <div class="mb-3">
                                <label class="form-label" for="password">Quantity</label>
                                <input class="form-control" type="number" id="password" name="quantity" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Price</label>
                                <input class="form-control" type="number" id="price" name="price" required>
                            </div>
                            <button class="btn btn-success btn-block">Add Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>